<div class="wrapper">
    <div class="section-authentication-signin d-flex align-items-center justify-content-center my-5 my-lg-0">
        <div class="container-fluid">
            <div class="row row-cols-1 row-cols-lg-2 row-cols-xl-3">
                <div class="col mx-auto">
                    <div class="mb-4 text-center">
                        <img src="{% static 'admini/assets/images/logo-img.png' %}" width="180" alt="" />
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <div class="border p-4 rounded">
                                <div class="text-center">
                                    <h3 class="">Sign in</h3>
                                    <p>Don't have an account yet? <a href="{% url 'virtualapp:auth' %}">Sign up here</a>
                                    </p>
                                </div>

                                <div class="login-separater text-center mb-4"> <span>SIGN IN WITH EMAIL</span>
                                    <hr/>
                                </div>
                                <div style="color:rgb(240, 234, 234)">
                                    {% include 'virtualapp/admini/alert.html' with messages=messages %}
                
                                </div>
                                <div class="form-body">
                                    <form method="POST" class="row g-3">
                                        {% csrf_token %}
                                    

                                        
                                        <div class="col-12">
                                            <label for="inputEmailAddress" class="form-label">Email Address</label>
                                            <input name="email" type="email" class="form-control" id="inputEmailAddress" placeholder="Email Address"> </input>
                                        </div>
                                        <div class="col-12">
                                            <label for="inputChoosePassword" class="form-label">Enter Password</label>
                                            <div class="input-group" id="show_hide_password">
                                                <input type="password" name="password" class="form-control border-end-0"  placeholder="Enter Password"> <a href="javascript:;" class="input-group-text bg-transparent"><i class='bx bx-hide'></i></a></input>
                                            </div>
                                        </div>
                                
                                        <div class="col-md-6 text-end">	<a href="{% url 'reset_password' %}">Forgot Password ?</a>
                                        </div>
                                        <div class="col-12">
                                            <div class="d-grid">
                                                <button type="submit" id="sign_in" name="submit" value="sign_in" class="btn btn-light"><i class="bx bxs-lock-open"></i>Sign in</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--end row-->
        </div>
    </div>
</div>